{% extends 'shop/base.html' %}
{% block content %}

<h3>Результати пошуку</h3>
    {{ search }}
{% for p in posts %}
{% if p.photo %}
	<img class="img-article-left-thumb" src="{{p.photo.url}}">
{% endif %}
	{% autoescape on %}
	{{p.content|linebreaks|truncatewords:40}}
	{% endautoescape %}
	{% if p.price %}
		<div class="a-settings">
			<section>{{p.price}}<small>₴</small><div><button class="button1"><ion-icon name="cart-outline"></ion-icon></button></div></section>
		</div>
		<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Купити</a></p>
	<div class="clear"></div>
{% endif %}
{% endfor %}
{% endblock %}